body,
h1,
h2,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#home {
    background-color: #faf6ed;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
    -webkit-font-smoothing: antialiased;
}

.navegation {
    background-color: #fb5;
    grid-column: 3 / -1;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.navegation ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.navegation-item a {
    color: #222;
    display: block;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-right: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.grid-section {
    box-sizing: border-box;
    display: grid;
    grid-column: 2 / 4;
    gap: 20px;
    grid-template-columns: 90px 300px 1fr;
    margin-bottom: 4rem;
    padding: 10px;
    width: 100%;
}

.title {
    font-family: "Playfair Display SC", georgia, serif;
    font-size: 6rem;
    font-weight: 400;
    grid-column: 1 / -1;
    line-height: 1;
    margin-bottom: 1rem;
}

.animals h2 {
    color: #e54;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.animals h2::before {
    background-color: #fb5;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 40px;
}

.animals p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animals ul {
    grid-column: 2;
    height: 370px;
    overflow-y: scroll;
}

.animals ul::-webkit-scrollbar {
    width: 18px;
}

.animals ul::-webkit-scrollbar-thumb {
    background-color: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animals ul::-webkit-scrollbar-track {
    background-color: #faf6ed;
}

.animals img {
    cursor: pointer;
}

.animals-description {
    grid-column: 3;
}

.animals-description section {
    margin-bottom: 3rem;
}

.faq dl {
    grid-column: 2 / 4;
}

.faq dt {
    color: #e54;
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.faq dt::before {
    background-color: #fb5;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.faq dt::after {
    display: inline-block;
    color: #fb5;
    content: "⮧";
    margin-left: 10px;
    transition: transform 0.3s;
}

.faq dd {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0.5rem;
    margin-left: 30px;
}

.map {
    grid-column: 2;
}

.contact ul li {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.contact ul li::before {
    background-color: #fb5;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.copyright {
    background-color: #fb5;
    grid-column: 3 / -1;
    margin-bottom: 2rem;
}

.copyright p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    padding: 20px;
}

@media (max-width: 700px) {
    #home {
        grid-template-columns: 1fr;
    }

    .navegation,
    .grid-section,
    .copyright {
        grid-column: 1;
    }

    .grid-section {
        gap: 10px;
        grid-template-columns: 100px 1fr;
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .animals ul {
        grid-column: 1;
    }

    .faq dl,
    .map,
    .contact ul {
        grid-column: 1 / -1;
    }

    .navegation {
        margin-top: 0px;
    }

    .copyright {
        margin-bottom: 0px;
    }
}

.js .js-tabcontent section {
    display: none;
}

.js .js-tabcontent section.actived {
    display: block;
    animation: show 0.5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-2em, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.js .js-accordion dd {
    display: none;
}

.js .js-accordion dt.actived::after {
    transform: rotate(180deg) scaleX(-1);
}

.js .js-accordion dt.actived+dd {
    display: block;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0px;
    }

    to {
        opacity: 1;
        max-height: 100px;
    }
}

.js .js-pagesection {
    opacity: 0;
    transform: translate3d(-32em, 0px, 0px);
    transition: 0.5s;
}

.js .js-pagesection.actived {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.5s;
}
